n8n-pinecone-rag-demo/workflows/rag-chatbot-workflow.json
{
  "name": "leave_policies_n8n_wf",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7b4c01e7-646a-4875-bde5-c475659bf06f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "SampleDocuments",
            "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "91b9003c-c6b9-41a1-8437-ec7c01a2a9be",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_DRIVE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "680d31d7-3a4d-45d1-b8f5-744c1ab24e06",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_DRIVE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "work-policies",
          "mode": "list",
          "cachedResultName": "work-policies"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ],
      "id": "6d3da3b9-968a-402d-85d2-0066b1790fa2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PINECONE_CREDENTIAL_ID",
          "name": "YOUR_PINECONE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        224
      ],
      "id": "0a3ef6b1-f018-49dc-9cab-6844b8612432",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        208
      ],
      "id": "1fdff02f-374f-4158-a169-6b35cc623063",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        912,
        592
      ],
      "id": "d4ab72b8-2f59-4ca8-884a-f27dd9bdad4c",
      "name": "When chat message received",
      "webhookId": "CHAT_WEBHOOK_ID"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an HR assistant.\n\nYou have access to the Employee Policy Knowledge Base tool.\n\nFor any question about:\n- Leave policy\n- Sick leave\n- Casual leave\n- Paternity leave\n- Maternity leave\n- Benefits\n- WFH policy\n- Attendance\n- Employee handbook\n\nYou MUST use the Employee Policy Knowledge Base tool before answering.\n\nDo not answer from your own knowledge.\n\nIf the tool returns information, use that information to answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        592
      ],
      "id": "97b61951-a4cf-4c7e-b46a-1407c873e3c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        800
      ],
      "id": "63cb8e12-5f3d-4d87-8fc3-57154f94d8ec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1136,
        800
      ],
      "id": "dd744065-a473-491b-8ceb-91111a0fe15c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1952,
        896
      ],
      "id": "5d4c53c4-8cf5-48e3-944a-520295b09010",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Employee Policy Knowledge Base\n\nMANDATORY TOOL.\n\nUse this tool for ALL questions related to:\n\n- Leave policy\n- Casual leave\n- Sick leave\n- Paternity leave\n- Maternity leave\n- Employee handbook\n- WFH policy\n- Attendance\n- Benefits\n\nAlways search this tool before answering.\n\nThis tool contains the official company policies.",
        "pineconeIndex": {
          "__rl": true,
          "value": "work-policies",
          "mode": "list",
          "cachedResultName": "work-policies"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1392,
        784
      ],
      "id": "067debbd-6ed1-4e5c-8cce-b8ee57c3886c",
      "name": "Company HR Policy Database",
      "credentials": {
        "pineconeApi": {
          "id": "PINECONE_CREDENTIAL_ID",
          "name": "YOUR_PINECONE_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Company HR Policy Database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Company HR Policy Database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "876d3602-3b32-4b57-9d85-a27c814da400",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32a3bbafe6d030d6b7872f50fa94200a48c81ca036f5ffa08c70b1ccf44368b2"
  },
  "nodeGroups": [],
  "id": "5MVNo92odgx56iny",
  "tags": []
}
